{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Website Wildan</title>
    <link rel="stylesheet" href= "{% static "css/mystyle.css" %}">
    <link rel="stylesheet" href= "{% static "css/bootstrap.css" %}">
    <style>
       
        .body{
            background-image: url("{% static "assets/background12.jpg" %}");
        }   
        .menubar{
            background-color: #373737;    
        }
        .menubar a{
                color: #ffffff;
        }
    </style>
</head>
<body>
    <section class = "body">
        <img src= "{% static "assets/heywildan.png" %}" class="centertext";>
    <div class="menubar">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
    </div>
    </section>
</body>


</html>
